.terminalBody {
    height: 90%;
    background-color: black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: white;
    overflow: scroll;
}

.commandInput {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 12pt;
    width: 0;
    height: 0
}

.textContainer {
    overflow-wrap: break-word;
}