.App {
  display: flex;
  min-height: 100vh;
  background-color: red;
  align-items: center;
  justify-content: center;
}
.terminal {
  background-color: black;
  height: 60vh;
  width: 60vw;
}
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: #fff;
  position: absolute;
  z-index: 9;
}
